@import "../variables";

.background {
  font-family: $font-cera;
  background-image: url("/graphic.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .card {
    padding: 3rem;
    padding-bottom: 1rem;
    box-shadow: 0px 8px 47px rgba(0, 0, 0, 0.1);
    width: 30%;
    border-radius: 8px;
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(255, 255, 255, 0.6);
    border: none;
    :global {
      .ant-input {
        // background-color: rgb(252, 255, 235);
        // border: none;
        border-color: rgba(150, 150, 150, 0.3);
        background: transparent;

        &:focus {
          border: none;
        }
      }
      .ant-input-password {
        // background-color: rgb(252, 255, 235);
        // border: none;
        border-color: rgba(150, 150, 150, 0.3);
        background: transparent;
      }
    }
    .loginCardBtn {
      // text-align: center;
      font-size: 1.8rem;
      font-weight: 500;
    }
    .loginSubtitle {
      // text-align: center;
      margin-bottom: 2rem;
      margin-top: 0;
    }
    p {
      font-size: 0.9rem;
      color: rgb(150, 150, 150);
      margin-top: 3rem;
      span {
        color: $blue;
      }
    }
    .loginBtn {
      display: flex;
      justify-content: center;
    }
    .outlineButton {
      border: 2px solid $blue;
      background: transparent;
      color: $blue;
      font-size: nth($fontSize, 3);
      font-weight: 500;
      border-radius: 6px;
      height: 2.5rem;
      width: 10rem;
      margin-top: 1rem;
      margin-left: auto;
      margin-right: auto;

      &:hover {
        background: $blue;
        color: #fff !important;
        border: 2px solid $blue;
      }
    }
  }
}
