@import "../variables";

.width {
  width: 40%;
  margin: 0 auto;
  .formItem {
    margin-top: 2.5rem;
    //   border-color: rgb(180, 180, 180);
    border: none;
  }
  .formInput {
    height: 3rem;
    border-color: rgb(199, 199, 199, 0.3);
  }
  :global {
    .ant-upload.ant-upload-drag {
      background-color: transparent;
      border-color: black !important;
    }
    .ant-input-number {
      width: 100%;
      background: transparent;
      border-radius: none;
    }
    .ant-input {
      background: transparent;
      border-radius: 5px;
    }
    .ant-select-selector {
      height: 3rem;
    }
  }
}

.loginBtn {
  display: flex;
  justify-content: center;
}

.outlineButton {
  border: 2px solid $blue;
  background: transparent;
  color: $blue;
  font-size: nth($fontSize, 3);
  font-weight: 500;
  border-radius: 6px;
  height: 2.5rem;
  width: 10rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: $blue;
    color: #fff !important;
    border: 2px solid $blue;
  }
}

.dashboard {
  .productCard {
    height: 20rem;
    width: 14rem;
    background-color: #fff;
    padding: 0.8rem;
    border-radius: 20px;
    position: relative;
    .productCardImageOverlay {
      z-index: 3;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0.3rem 0.8rem;
      color: #fff;
      border-radius: 50px;
      right: 1.5rem;
      top: 1.5rem;
    }

    .productCardImage {
      background-color: aquamarine;
      height: 12rem;
      border-radius: 20px;
      overflow: hidden;
    }

    .productCardTitle {
      font-size: 1.4rem;
      font-weight: 500;
      margin-top: 1rem;
    }
  }
}
