@import "../variables";

.DashboardHeaderContainer {
  background: none;
  padding: 4rem 2rem;
  height: 8.5rem;

  :global {
    .ant-segmented {
      background-color: #eceff5;
      border-radius: 30px;
      padding: 0.3rem;
      color: #717171;

      .ant-segmented-item-selected {
        background-color: #fff;
        border-color: #fff;
        border-radius: 30px;
        color: $blue;
      }
    }
  }

  .DashboardHeaderLeft {
    .BackButton {
      border: none;
      margin-right: 1rem;
      opacity: 0.8;
      width: 2rem;
      height: 2rem;

      &:hover {
        opacity: 1;
      }
    }

    .DashboardHeaderTitle {
      font-size: nth($fontSize, 6);
      font-weight: 500;
      color: #000;
      @include responsive(mobile4) {
        font-size: nth($fontSize, 5);
      }
    }
  }
}
